In [1]:
from selenium import webdriver
from time import sleep as sl
import pandas as pd
import pyautogui as py

df = pd.read_excel('Setor_Ações.xlsx')
display(df)

     Unnamed: 0 CÓDIGO
0             0  AALR3
1             1  ABCB4
2             2  ABEV3
3             3  ADHM3
4             4  AERI3
..          ...    ...
591         591  WHRL3
592         592  WHRL4
593         593  WLMM3
594         594  WLMM4
595         595  YDUQ3

[596 rows x 2 columns]

In [ ]:
navegador = webdriver.Chrome()
navegador.get('https://www.google.com')
link = 'https://statusinvest.com.br/'
navegador.get(link)
print(link)

py.keyDown('win')
py.press('up')
py.keyUp('win')

setor = []

for c in df['CÓDIGO']:
    navegador.find_element('xpath', '//*[@id="main-nav-nav"]/div/div/div/ul/li[2]/a/i').click()
    navegador.find_element('xpath', '//*[@id="main-search"]/div[1]/span[1]/input[2]').send_keys(c)
    sl(3.5)
    navegador.find_element('xpath', '//*[@id="main-search"]/div[2]/div/div/a').click()
    sl(1.8)
    navegador.find_element('xpath', '//*[@id="main-2"]/div[1]/div/div/ul/li[2]/a').click()
    py.scroll(-250)
    setor.append(navegador.find_element('xpath', '//*[@id="company-section"]/div[1]/div/div[3]/div/div[1]/div/div/div/a/strong').text)

https://statusinvest.com.br/

In [ ]:
df = pd.DataFrame(zip(setor), columns=['SETOR'])
display(df)

In [ ]:
df.to_excel('setor_ações1.xlsx')